@media screen and (min-width: 769px) and (max-width: 992px) {
    section#login{
        width: 90vw;
       
    }

    section#login > div#foto{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
    main{
        background-image: linear-gradient(to right,  orange, rgba(0, 0, 0, 0.185));
    }
    .info{
        width: 400px;
    }
    #formulario{
        margin-top: 125px;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: justify;
    }
}

@media screen and (min-width: 993px) {
     section#login{
        width: 900px;
       
    }

    section#login > div#foto{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
    }
    main{
        background-image: linear-gradient(to right,  orange, rgba(0, 0, 0, 0.185));
    }
    .info{
        width: 350px;
    }
    #formulario{
        margin-top: 125px;
    }
    h1{
        text-align: center;
    }
    p{
        text-align: justify;
    }
}