*{
font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: orange;
    height: 100vh;
    width: 100vw;
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);

    transition: width .5s, height .3s;
    transition-timing-function: ease;
}
#foto{
    background-image: url(../imagens/predios.jpg);
    height: 200px;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}
#formulario{
    display: block;
    padding: 10px;
}



