*{
font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: orange;
    height: 100vh;
    width: 100vw;
}

main{
    background-color: white;
    max-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
#foto{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(../imagens/predios.jpg);
    width: 300px;
    height: 250px;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}
#formulario{
    display: block;
}
h1{
    padding-top: 10px;
    text-align: center;
}
form{
    text-align: center;
    padding: 10px;
}
#texto{
    text-align: justify;
    padding: 10px;
}
form p{
    padding: 3px;
}
.inputs{
    background-color: rgb(246, 200, 115);
    margin: 3px;
    border-radius: 4px;
}
.info{
    width: 220px;
    height: 30px;
    border-radius: 4px;
    border: none;
    text-align: center;
}
.botao{
    background-color: rgb(239, 181, 75);
    width: 270px;
    height: 30px;
    border-radius: 4px;
    border: none; 
    transition: background-color 0.5s;
}
.botao:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(88, 58, 0);
    border: 1px solid rgb(88, 58, 0);
    cursor: pointer;
}